@import "colors.css";

* {
  all: unset;
}

.power {
  background-color: @bar;
  border: 4px solid @border;
  padding: 20px;
}

.powerbutton {
  margin: 20px;
}

.powerbutton > label {
  background-color: @background;
  color: @font;
  border: 4px solid @border;
  font-size: 40px;
  padding: 20px;
}

.powerbutton:hover > label {
  background-color: @hover;
}
