@define-color background #1d1f21;
@define-color text #c5c8c6;
@define-color border #a16bed;
@define-color focus #cc6666;

* {
    font-family: DejaVu Sans Mono;
    font-size: 13px;
    margin: 0px;
    padding: 0px 10px;
    border-radius: 0px;
}

window#waybar {
    background-color: transparent;
    border-radius: 0px;
}

/* left */
#workspaces {
    background-color: @background;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid @border;
}

/* todo: disable border on last button */
#workspaces button {
    color: @text;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
    border-right: 1px solid @border;
}

#workspaces button.focused {
    color: @focus;
}

#mode {
    color: @text;
    background-color: @focus;
    border: 1px solid @border;
}

/* middle */
#clock {
    color: @text;
    background-color: @background;
    border: 1px solid @border;
}

/* right */
#pulseaudio {
    color: @text;
    background: @background;
    border: 1px solid @border;
}

#pulseaudio.muted {
    color: #2a5c45;
    background-color: #90b1b1;
    border: 1px solid @border;
}

#network {
    color: @text;
    background-color: @background;
    border: 1px solid @border;
}

#network.disconnected {
    background-color: transparent;
}

#cpu {
    color: @text;
    background-color: @background;
    border: 1px solid @border;
}

#memory {
    color: @text;
    background-color: @background;
    border: 1px solid @border;
}

#disk {
    color: @text;
    background-color: @background;
    border: 1px solid @border;
}

#temperature {
    color: @text;
    background-color: @background;
    border: 1px solid @border;
}

#temperature.critical {
    background-color: @focus;
}

#idle_inhibitor {
    color: @text;
    background-color: @background;
    border: 1px solid @border;
}
#idle_inhibitor.activated {
    background-color: @focus;
}
